<h2>Flex container</h2>

{{#if flexContainer.direction}}
  <p>
    Scrollable?
    {{input type="checkbox" checked=isScrollable}}
  </p>
  <p>
    Width:
    {{input value=flexContainer.width}}
  </p>

  <ul>
    <li>Rendered Width: {{flexContainer.renderedDimensions.width}}</li>
    <li>Used Space: {{flexContainer.renderedSpacing.usedSpace}}</li>
    <li>Free Space: {{flexContainer.renderedSpacing.freeSpace}}</li>
  </ul>

  {{#unless flexContainer.hasFreeSpace}}
    <p class="error">
      At least one of your column(s) is partially hidden. This happens because
      your columns span wider than the available space. You can easily
      debug this by making the container scrollable and adjusting the columns.
    </p>
  {{/unless}}

  <button class="button-corner" {{action "addItem"}}>Add an item</button>
{{else}}
  <p>
    Add
    <button {{action "setDirection" "row"}}>rows</button> or
    <button {{action "setDirection" "col"}}>columns</button>
  </p>
{{/if}}

<div class="flex-container {{layoutClassName}}">
  {{#each flexContainer.flexItems as |flexItem|}}
    {{flex-item
      flexItem=flexItem
    }}
  {{/each}}
</div>
